* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    background-color: turquoise;
}

a {
    text-decoration: none;
    background-color: white;
    border: 1px solid black;
    border-radius: 2px;
    padding: 5px 10px;
    color: black;
}

.buttonDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 300px 300px;
}

@media (max-width: 700px) {
    .buttonDiv {
        margin: 300px 100px;
    }
}